---
permalink: /es/mexico/personas/claudia-sheinbaum
---
{% assign person = site.data.people.claudia_sheinbaum %}
{% assign parties = site.data.parties %}
{% assign currentPartyId = person.politicalPartyHistory[0].id %}
{% assign currentParty = parties[currentPartyId] %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="title" content="Perfil: {{ person.name }}, México • π">
    <meta name="description" content="{{ person.name }}, {{ person.description }}">

    <title>{{ person.name }} • π</title>

    <link rel="stylesheet"
          type="text/css"
          href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Merriweather:400,700">

    <link rel="stylesheet"
          href="{{ site.github.url }}/assets/css/main.css">

    <style type="text/css">
      .profile__avatar {
        background-image: url('{{ site.github.url }}/assets/images/people/{{ person.id }}_96px.jpg');
      }

      @media (-webkit-min-device-pixel-ratio: 2),
          (min--moz-device-pixel-ratio: 2),
          (min-resolution: 2dppx),
          (min-resolution: 192dpi) {
        .profile__avatar {
          background-image: url('{{ site.github.url }}/assets/images/people/{{ person.id }}_192px.jpg');
        }
      }
    </style>

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-59577613-1', 'auto');
      ga('send', 'pageview');
    </script>
  </head>
  <body class="body">
    <div>
      <div class="profile__avatar avatar">
        {% if party.id != parties.independent.id %}
        <img class="avatar__party"
             alt="{{ currentParty.shortLabel }}"
             title="{{ currentParty.label }}"
             src="{{ currentParty.logos.x1 }}"
             srcset="{{ currentParty.logos.x1_5 }} 1.5x, {{ currentParty.logos.x2 }} 2x">
        {% endif %}
      </div>
      <div class="profile__header">
        <h1 class="profile__name heading--1">{{ person.name }}</h1>
        <h2 class="profile__description">{{ person.description }}</h2>

        <ul class="list--unstyled">
          {% if person.social.website %}
          <li class="profile__social-item">
            <a href="{{ person.social.website.url }}" class="profile__social-link" target="_blank">
              <i class="fa fa-globe profile__social-icon" aria-hidden="true"></i>
              {{ person.social.website.url }}
            </a>
          </li>
          {% endif %}

          {% if person.social.twitter %}
          <li class="profile__social-item">
            <a href="{{ person.social.twitter.url }}" class="profile__social-link" target="_blank">
              <i class="fa fa-twitter social-icon--twitter profile__social-icon" aria-hidden="true"></i>
              {{ person.social.twitter.username | prepend: "@" }}
            </a>
          </li>
          {% endif %}

          {% if person.social.facebook %}
          <li class="profile__social-item">
            <a href="{{ person.social.facebook.url }}" class="profile__social-link" target="_blank">
              <i class="fa fa-facebook-official social-icon--facebook profile__social-icon" aria-hidden="true"></i>
              {{ person.social.facebook.username }}
            </a>
          </li>
          {% endif %}

          {% if person.social.youtube %}
          <li class="profile__social-item">
            <a href="{{ person.social.youtube.url }}" class="profile__social-link" target="_blank">
              <i class="fa fa-youtube-play social-icon--youtube profile__social-icon" aria-hidden="true"></i>
              {{ person.social.youtube.title }}
            </a>
          </li>
          {% endif %}
        </ul>
      </div>
    </div>

    <ul class="breadcrumbs h-infographic-hide">
      <li class="breadcrumbs__item">México</li>
      <li class="breadcrumbs__item">Personas</li>
    </ul>

    <h3 class="heading--3">
      <i class="fa fa-search" aria-hidden="true"></i> Transparencia
    </h3>

    <ul>
      {% for transparencyItem in person.transparency %}
      <li>
        <a href="{{ transparencyItem.url }}" target="_blank">{{ transparencyItem.title }}</a>
      </li>
      {% endfor %}
    </ul>

    <h3 class="heading--3">
      <i class="fa fa-flag" aria-hidden="true"></i> Partidos políticos
    </h3>

    <ul>
      {% for partyItem in person.politicalPartyHistory %}
      <li>{{ parties[partyItem.id].label }} ({{ partyItem.duration }} años)</li>
      {% endfor %}
    </ul>

    <h3 class="heading--3">
      <i class="fa fa-institution" aria-hidden="true"></i> Cargos públicos
    </h3>

    <ul>
      {% for position in person.publicPositions %}
      <li>{{ position.title }} de {{ position.start }} a {{ position.end }}</li>
      {% endfor %}
    </ul>

    <h3 class="heading--3">
      <i class="fa fa-group" aria-hidden="true"></i> Cargos políticos
    </h3>

    <ul>
      {% for position in person.politicsPositions %}
      <li>{{ position.title }} de {{ position.start }} a {{ position.end }}</li>
      {% endfor %}
    </ul>

    <h3 class="heading--3">
      <i class="fa fa-graduation-cap" aria-hidden="true"></i> Trayectoria académica
    </h3>

    <ul>
      {% for level in person.academicHistory %}
      <li>{{ level.degree }} en {{ level.institution }}</li>
      {% endfor %}
    </ul>

    <h3 class="heading--3">
      <i class="fa fa-briefcase" aria-hidden="true"></i> Trayectoria profesional
    </h3>

    <ul>
      {% for job in person.professionalHistory %}
      <li>{{ job.position }} en {{ job.institution }}</li>
      {% endfor %}
    </ul>

    <h3 class="heading--3">
      <i class="fa fa-pie-chart" aria-hidden="true"></i> Elecciones
    </h3>

    <ul>
      {% for election in person.elections %}
      <li>
        <p>{{ election.title }}, {{ election.date }}: {{ election.result.label }}</p>
        {% if election.party.name %}
        <p>{{ election.party.name }}</p>
        {% endif %}
        {% if election.coalition.name %}
        <p>
          {{ election.coalition.name }}:
          {% for party in election.coalition.parties %}
          {{ party.name }},
          {% endfor %}
        </p>
        {% endif %}
        <p>{{ election.result.votes.percentage }} ({{ election.result.votes.total }} votos)</p>
      </li>
      {% endfor %}
    </ul>

    <h3 class="heading--3">
      <i class="fa fa-book" aria-hidden="true"></i> Bibliografía
    </h3>

    <ul>
      {% for bibliographyItem in person.bibliography %}
      <li>
        <p><a href="{{ bibliographyItem.url }}" target="_blank">«{{ bibliographyItem.title }}»</a></p>
        <p>{{ bibliographyItem.source }}</p>
      </li>
      {% endfor %}
    </ul>
  </body>
</html>
